<?xml version="1.0" encoding="UTF-8"?>
<data>
    <subreddits>
        <subreddit name="rangers" all="true" />
        <subreddit name="hockey" all="true" />
        <subreddit name="askreddit" all="true"/>
    </subreddits>
    <!-- Put keywords here, and if they apply to a single subreddit, several, or all-->
    <keywords>
    </keywords>
</data>